<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Back end site</title>
</head>
<body>
    <h1 class="text-center my-5 text-3xl font-bold">Add Country Code</h1>
    <form action="/home" method="POST" class="flex justify-center items-center gap-5 ">
        <input class="border border-2 p-5 rounded-xl" type="text" name="codes">
        <input class="border border-2 p-5 rounded-xl" type="text" name="facilities">
        <input class="p-5 bg-orange-400 text-white rounded-xl" type="submit" value="Add Code">
    </form>
</body>
</html>